@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Small Music Test!</h1>
    <p>Time of play @DateTime.Now</p>
    @* <audio id="audio-player" controls>
        <source src="Eslabon_Armado_Ella_Baila_Sola.mp3" type="audio/mp3">
    </audio> *@
    <h2 id="song-name"></h2>
    <div class="music-player">
        <audio id="audio-player" src="Ella_Baila_Sola-Eslabon_Armado.mp3"></audio>
        <div class="controls">
            <button id="prev-button"><-</button>
            <button id="play-pause-button">Play</button>
            <button id="skip-button">-></button>
        </div>
        <progress id="music-progress" max="100"></progress>
        <span id="current-time">0:00</span>
    </div>

    <head>
        <script src="audio-player.js"></script>
    </head>
</div>
