@page
@model TabModel
@{
    ViewData["Title"] = "Test";
}

<div>
    <h1>Did this work?</h1>
    <p>Just want to see if it works</p>
    <p>Now we need to try and make this a test company</p>
</div>
