@page
@model ReportModel
@{
    ViewData["Title"] = "Report";
}

@* 
Contains a way for the User (Listner and Artist) to create reports 
Artist Report: View ratings of Artist (themselves) || List of each of song w/ ratings
Listener Report: Hours of music streamed || Top 3 songs and Top 3 artists
 *@

<div>
    <h1 class="text-center">Report</h1>
    <p id="title">Song name</p>
    <input type="text"></input> 
    <p>OR</p>
    <p id="title">Artist name</p>
    <input type="text"></input>
    <button>Submit</button>


</div>