@page
@model ReportModel
@{
    ViewData["Title"] = "Report";
}

@* 
Contains a way for the User (Listner and Artist) to create reports 
Artist Report: View ratings of Artist (themselves) || List of each of song w/ ratings
Listener Report: Hours of music streamed || Top 3 songs and Top 3 artists
 *@

<div>
    <h1 class="text-center">Rating Reports</h1>
    <p id="title">Song name</p>
    <input type="text"></input> 
    <button>Add another song </button>
    <p>OR</p>
    <p id="title">Artist name</p>
    <input type="text"></input> 
    <input type= "checkbox"> check to include all artist's song rating.
   <button>Add another artist </button>
    <br> <br>
    <button>Submit</button>

     <h1 class="text-center">Streaming Reports</h1>
     <br> <br>
     <button>Generate my streaming report</button>



</div>